<!DOCTYPE html>

<html>

<head>
    <title>{{record.Theatre}}</title>
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        Theatre: {{record.Theatre}}</br>
        City: {{record.City}}</br>
        State: {{record.State}}</br>
        Source of Info: {{record.[Source of Info]}}</br>
        Primarilly Vaudeville: {{record.[Primarily Vaudeville]}}</br>
        Years active: {{record.[Years active]}}</br>
        Circuit Name: {{record.[Circuit Name]}}
        {{>footer}}

        {{!-- Has to run AFTER page content is loaded --}}
        {{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/js/app.js"></script> --}}
</body>

</html>